button {
    background: none;
    border: none;
    cursor: pointer;

}

.btn {
    
    font-size: rem(16);
    padding: rem(17) rem(35);
    border-radius: rem(3);

    transition: 300ms ease-in;

}

.btn--header {
    color: $primary-red-100;
    background-color: $primary-yellow-100;

    @include focus-visible($white);  
    @include on-event {
        
        background-color: lighten($primary-yellow-100, 20);
    }       
}

.btn--footer {
    background-color: $black;
    color: $white;
    padding: rem(15) rem(35);
    text-transform: uppercase;
    letter-spacing: 2.5px;
}