button,
a {
    background: none;
    border: none;
    cursor: pointer;


}

a {
    text-decoration: none;
    display: inline-block;
}

.btn {
    
    font-size: rem(16);
    padding: rem(17) rem(35);
    border-radius: rem(3);

    transition: 300ms ease-in;

}

.btn--header {
    color: $primary-red-100;
    background-color: $primary-yellow-100;

    @include focus-visible($white);  
    @include on-event {
        
        background-color: lighten($primary-yellow-100, 20);
    }       
}

.btn-cta {
    background: transparent;
    color: $primary-yellow-100;
    border: 2px solid $primary-yellow-100;
    padding: rem(10) rem(20);
    border-radius: 0;

    @include on-event {
        background-color: $primary-yellow-100;
        color: $primary-red-100;
    }

}

.btn-dislodged {
    position: relative;
    padding: rem(15) rem(20);
    background-color: $primary-yellow-100;
    color: $primary-red-100;
    border-radius: 0;
   
}
.btn-dislodged::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 6px;
    right: 6px;
    border: 2px solid $primary-yellow-100;

}


.btn--footer {
    background-color: $black;
    color: $white;
    padding: rem(15) rem(35);
    text-transform: uppercase;
    letter-spacing: 2.5px;
}