footer {
    background-color: $primary-yellow-100;
    
}



.nav--footer {
    
    a {
        color: $primary-red-100;
        font-weight: 400;
    }


}


.footer-bottom {
    border-top: 1px solid lighten(#243054, 20);
    
   
}

.copyright {
    font-size: rem(13);
}