.navigation-item {

    list-style: none;

    a { 

        text-decoration: none;
        color: $white;
        letter-spacing: 1.5px;
        transition: 200ms ease-in-out;

        @include focus-visible($white);

        @include on-event {
            color: lighten($primary-yellow-100, 50);
        }
    }
}

.focus::after {
    position: absolute;
    content: '';
    height: rem(3);
    border-radius: rem(2);
    width: 100%;
    top: rem(35);
    left: 0;
    background-color: $white;
    
    
}