
// Default fonts
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  }

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/Inter-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/Inter-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/Inter-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/Inter-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/Inter-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

