.main-aboutUs-container {
    display: none;
}

.ourStory {
    display: flex;
    justify-content: space-between;
    h2,
    h3,
    p {
        color: $white;
        font-weight: 300;
    }
    h2 {
        font-size: rem(50);
    }

    background: url(/src/assets/images/bg-pattern.png) no-repeat;
    background-size: contain;
    
}

.left-section {
    flex: 50%;
    
    p {
        width: 35ch;
    }
}

.right-section {
    flex: 50%;

    h3 {
        font-size: rem(25);
        font-weight: bold;
    }
}

.right-section * + *,
.left-section * + * {
    margin-top: 1.5em;
  } 


.left-section-imgs {
    display: flex;
    gap: rem(30);
}


/* Milestone Section */

.milestone {
    background-color: $primary-yellow-100;
    padding: rem(120) rem(70);
}

.milestone-box {
    position: relative;
    color: $black;
    font-weight: 300;

    .year {

        font-size: rem(30);
        font-weight: bold;
    }

    .titel {
        font-size: rem(19);
        font-weight: bold;
    }

    .text {
        font-size: rem(14);
        color: $primary-red-100;
    }
}

.milestone-box::before {

    position: absolute;
    content: '';
    background-color: $primary-red-100;
    width: 50px;
    height: 4px;
    top: -15px;
    border-radius: rem(5);
}

.milestone-box * + * {
    margin-top: 1em;
}


/* MAP --- section */

.map {
    padding: rem(120) rem(100);
    
    background: url(/src/assets/images/bg-pattern.png) #243054 no-repeat right;
    background-size: contain;
}

.map-container {
    background-color: $primary-red-100;
    display: flex;
    align-items: center;
}

.map-adress {

    color: $white;
    font-weight: 200;
    padding: rem(30) rem(30) rem(30) rem(60);
    font-size: rem(14);

    h4 {
        color: $primary-yellow-100;
        margin-bottom: rem(10);
        margin-top: rem(10);
        font-size: rem(18);
    }

}