body {
    background-color: $primary-red-100;
}



/* HERO  --------SECTION */

.hero {
    display: flex;
    position: relative;

   

    background-image: url(/src/assets/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;

}

.hero-text {
    z-index: 100;
    margin-top: rem(50);
    h2,
    p {
        color: $white;   
    }

    p {
        width: 40ch;
        margin-top: rem(16);
        margin-bottom: rem(40);
        line-height: 2;
        font-weight: 300;
        letter-spacing: 1.2px;
    }

    h2 {
        background: rgba(91, 0, 23, 0.6);
        font-size: rem(80);
        line-height: 1.2;
        width: 15ch;
    }
}

.hero-img {
    position: absolute;
    height: 400px;
    width: 600px;
    top: 0;
    right: 0;

    
}

.hero::after {
    position: absolute;
    content: url(/src/assets/images/hero-flower.png);
    width: 100%;
    height: 100%;
    left: 97%;
    top: -10px;
    
}



/* VENUE --------- SECTION */


.venue {
    display: flex;
   
    justify-content: flex-start;
    gap: rem(35);
    background-image: url(/src/assets/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    
    
    
}

.venue-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.venue-content::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    bottom: 0;
    background-color: $primary-yellow-100;
}

.venue-text {
    margin-top: rem(-45);
    h3,
    p {
        
        color: $white;
        letter-spacing: 1.2px;
    }
    
    h3 {
        font-size: rem(40);
        font-weight: 500;
        width: 25ch;
    }
    
    p {
        font-weight: 300;
        
    }

}

.venue-preview-imgs {

    display: flex;
    
    
    gap: rem(30);
}



/* ----------------------------- */




/* TESTEMONIAL SECTION */


.testemonial {
    display: flex;
    justify-content: space-evenly;
    background-color: $primary-yellow-100;


    
}

.testemonial-content {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(50) rem(50) rem(10) rem(60);
    
    
    
    cite {
        display: block;
    }
    
}

.testemonial-text {
    
    margin-bottom: rem(100);
    text-align: left;
    width: 30ch;
    font-size: rem(21);
    line-height: 2;
    font-weight: 300;
}


.testemonial-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    .testemonial-name {
        font-weight: bold;
        font-size: rem(13);
    }

    .testemonial-location {
        font-size: rem(13);
        font-weight: 200;
    }
}




/* OUR MENU - ---------SECTION */


.ourMenu {
    background-image: url(/src/assets/images/ourMenu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;

    display: flex;
    justify-content: center;
   
}

.ourMenu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.ourMenu-text {
    
    h3 {
        color: $white;
        text-align: center;
        font-size: rem(35);
        width: 30ch;
        font-weight: 400;
    }
}




