body {
    background-color: $primary-red-100;
}



/* HERO  --------SECTION */

.hero {
    display: flex;
    position: relative;

   

    background-image: url(/src/assets/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;

}

.hero-text {
    z-index: 100;
    margin-top: rem(50);
    h2,
    p {
        color: $white;   
    }

    p {
        width: 40ch;
        margin-top: rem(16);
        margin-bottom: rem(40);
        line-height: 2;
        font-weight: 300;
        letter-spacing: 1.2px;
    }

    h2 {
        background: rgba(91, 0, 23, 0.6);
        font-size: rem(80);
        line-height: 1.2;
        width: 15ch;
    }
}

.hero-img {
    position: absolute;
    height: 400px;
    width: 600px;
    top: 0;
    right: 0;

    
}



/* VENUE --------- SECTION */


.venue {
    display: flex;
   
    justify-content: flex-start;
    gap: rem(35);
    background-image: url(/src/assets/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    
    
    
}

.venue-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.venue-content::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 1px;
    bottom: 0;
    background-color: $primary-yellow-100;
}

.venue-text {
    margin-top: rem(-45);
    h3,
    p {
        
        color: $white;
        letter-spacing: 1.2px;
    }
    
    h3 {
        font-size: rem(40);
        font-weight: 500;
        width: 25ch;
    }
    
    p {
        font-weight: 300;
        
    }

}

.venue-preview-imgs {

    display: flex;
    
    
    gap: rem(30);
}




