
//base color
$black: #000;
$white: #ffff;
// Primary Color (Red)
$primary-red-100: rgb(91, 0, 23);
$primary-red-75: #844051;
$primary-red-50: #AD808B;
$primary-red-25: #D6BFC5;
//Primary Color (yellow)
$primary-yellow-100: #CC9D2F;
$primary-yellow-75: #d8b663;
$primary-yellow-50: #e5c397;
$primary-yellow-25: #f2e7cb;