.navigation {

    max-width: 100%;
}

.navigation-item-container {
    display: flex;
    justify-content:space-between;
    padding: 0;
    margin: 0;
    
    //border: 2px solid brown;
    
    
}
.navigation-item:nth-last-of-type(2n) {
    padding-left: rem(85);
    padding-right: rem(85);
}